# this is just a test file
tutorial.cpp
Debug/*
makefile_x86_64
Debug_e2e/*
Debug_collect/*
decimal_test/*
Debug_test/*
src/tags
tags
# our executables
collect_p_f_data
PF_CollectData
DDecimal_test
EndToEnd_Test
p_f_collect


*pyc
.ycm_extra_conf.py

# for clang
.cache/*

